version: '3.8'

services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "4000:3000"  # FIXED
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
